/* @font-face {
    font-family: 'Larsseit';
    src: url('fonts/Larsseit.eot');
    src: local('fonts/Larsseit Medium'), local('Larsseit-Medium'),
        url('fonts/Larsseit.eot?#iefix') format('embedded-opentype'),
        url('fonts/Larsseit.woff2') format('woff2'),
        url('fonts/Larsseit.woff') format('woff'),
        url('fonts/Larsseit.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
} */