.CompanyForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-top: 30px;
  margin-left: 119px;
  margin-right: 119px;
}
.companyBody {
  display: flex;
  justify-content: center;
}
.CompanyForm .title {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  color: #88f4ff;
}
.CompanyForm .description {
  margin-top: 0;
  margin-left: 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.CompanyForm .form {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(auto, 3);
  gap: 20px;
}

input {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  outline: none;
  border: none;
  height: 50px;
  width: 345px;
  border-radius: 10px;
}

.select {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  background-color: white;

  color: #c4c4c4;
  border: none;
  height: 51px;
  width: 345px;
  border-radius: 10px;
}
.input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #88f4ff;
}

.button {
  display: flex;
  justify-content: center;
  background-color: white;
}
.button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: transparent;
}
.button-link {
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
}
.button-material {
  background-color: #219be4;
  color: white;
}

.menuIstem{
    font-size: 20px;
}


